.search-container {
   margin: 30px 0;

  .searchbox {
    label {
      width: 100%;
      position: relative;

      &:before {
        color: $midGrey;
        content: "\f4a4";
        font-family: $Ionicons;
        position: absolute;
        font-weight: lighter;
        bottom: 2px;
        left: 0;
        font-size: 22px;
      }
    }
  }
}
