version: '3'

services:
  nginx:
    image: nginx:1.13.9
    volumes:
      - .:/opt/project:ro
      - ./nginx:/etc/nginx/conf.d:ro
      - ~/rtpersist/:/mnt/rtpersist/
      - rttmpshared:/mnt/rttmp/
    ports:
      - "80:80"
    networks:
      rtnet: {}
  postgres:
    image: postgres:10.2
    restart: always
    networks:
      rtnet:
        ipv4_address: 172.0.0.10
    environment:
      POSTGRES_USER: cs4500
      POSTGRES_PASSWORD: weintraub12345
  restapi:
    image: maven:3.5.2-jdk-8
    working_dir: /opt/project/restapi
    entrypoint: ./run.sh
    volumes:
      - .:/opt/project
      - /root/.m2:/root/.m2
      - ~/rtpersist/:/mnt/rtpersist/
      - rttmpshared:/mnt/rttmp/
    networks:
      rtnet:
        ipv4_address: 172.0.0.20
  frontend:
    image: python:3.6-jessie
    working_dir: /opt/project/frontend
    entrypoint: ./run.sh
    volumes:
      - .:/opt/project/:ro
      - /root/.local/lib/python3.6:/root/.local/lib/python3.6
      - rttmpshared:/mnt/rttmp/
    networks:
      rtnet:
        ipv4_address: 172.0.0.30

volumes:
  rttmpshared:

networks:
  rtnet:
    driver: bridge    
    ipam:
      driver: default
      config:
        - subnet: 172.0.0.0/24

