<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/style.css"/>
		<script src="/static/core.js"></script>
		{% block head %}
			<title>Unspecified</title>
		{% endblock %}
	</head>
	<body>
		<div id="prelude">
			{% block prelude %}
			{% endblock %}
		</div>
		{% block userbar %}
			<div id="userbar">
				{% if user is defined and user is not none %}
					<!-- {{ user|pprint|safe }} -->
					<p>
						<i>Hello, {{ user.username }}!</i>
					</p>
					<a class="button" onclick="logout();" href="#">Logout</a>
				{% else %}
					<a href="/login" class="button">Login</a>
					<a href="/register" class="button">Register</a>
				{% endif %}
			</div>
		{% endblock %}
		<div id="content">
			{% block content %}
				<hr/>
				Unspecified
			{% endblock %}
		</div>
	</body>
</html>
