{% extends "baselayout.html" %}
{% block head %}
	<title>Friends</title>
	<script src="/static/friends.js"></script>
{% endblock %}
{% block content %}
	<h1>Friends</h1>
	<div id="friends_current">
		<h3>Current Friends</h3>
		<ul>
			{% for f in friends %}
				<li><a href="/user/{{ f.id }}">{{ f.username }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div if="friend_requests">
		<h3>Friend Requests</h3>
		{% for req in reqs %}
			<div class="friend_request">
				<p>
					{{ req.sender.username }}
				</p>
				<a class="button" onclick="respond_to_friend_request('{{ req.sender.username }}', 'ACCEPTED');" href="#">Accept</a>
				<a class="button" onclick="respond_to_friend_request('{{ req.sender.username }}', 'DENIED');" href="#">Reject</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
