{% extends "baselayout.html" %}
{% block head %}
	<script src="/static/search.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
{% endblock %}
{% block content %}
	{% if notifications is defined and notifications is not none %}
		<div id="notifications_box">
			<i>Notifications</i>
			{% for n in notifications %}
				<div class="notification">
					<!-- {{ n|pprint|safe }} -->
					<h3 class="notification_type">{{ n.type }}</h3>
					<h5 class="notification_sender">
						{% if n.sender is defined and n.sender is not none %}
							From: <span class="notification_sender_user">{{ n.sender.username }}</span>
						{% else %}
							<span class="notification_sender_system">SYSTEM</span>
						{% endif %}
					</h5>
					<p class="notification_message">
						{{ n.contents|safe }}
					</p>
					<a class="button" onclick="dismiss_notification({{ n.id }});" href="#">Dismiss</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	<footer class="footer navbar-fixed-bottom justify-content-center">
		<a href="/status">Status Monitor</a>
	</footer>
{% endblock %}
