{% extends "baselayout.html" %}
{% block head %}
	<title>{{ movie.name }} ({{ movie.releaseYear }})</title>
	<script src="/static/review.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
	<script>
		// The movie ID, used in scripts.
		const movie_id = {{ movie.id }}; // Not in quotes!
	</script>
{% endblock %}
{% block content %}
      <div className="movie-page">
        <div className="movie-data">
		      <!-- {{ movie|pprint|safe }} -->
          <div className="poster-container">
            <img className="poster" src="{{ movie.imageUrl }}" alt="{{ movie.name }}"/>
          </div>
          <div className="meta-data-container">
            <h1 class="bold">{{movie.name}} ({{ movie.releaseYear }})</h1>
            <hr size="2"/>
            <h3>Plot</h3>
            <p>{{ movie.summary }}</p>
  	<hr/>
	<div class="movie_reviews">
		{% if user is defined and user is not none %}
			<div class="review_input">
				<p>
					Submit review (max 1000 characters)
				</p>
				<textarea id="review_body" rows="5" cols="50"/></textarea>
				<a class="button" onclick="submit_review();" href="#">Submit</a>
				<p id="review_submit_status">
				</p>
			</div>
		{% else %}
			<p>
				<i>You must be logged in to submit reviews.</i>
			</p>
		{% endif %}
		<div class="reviews">
			<p>
				On-site reviews of <i>{{ movie.name }}</i>
			</p>
			{% for review in reviews %}
				<div class="review">
					<!-- {{ review|pprint|safe }} -->
					<p class="review_submitter">
						{{ review.user.username }}
					</p>
					<p class="review_content">
						{{ review.description }}
					</p>
				</div>
			{% endfor %}
		</div>
  </div>
          </div>
        </div>
      </div>
{% endblock %}
